/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sans-Serif;
    line-height: 1.6;
    color: #404040;
}

header {
    padding: 0;
    margin: 10px;
    background: #448fc630;
    border: 2px solid #448fc6;
    border-radius: 0px;
    box-shadow: 5px 5px 0px 2px #00000020;
}
#icon {
	margin-left:12px;
	margin-right: 12px;
}
nav ul {
    padding: 5px 0;
    display: flex;
    justify-content: left;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    padding: 10px 10px;
}
nav ul li a:hover {
    color: #fff;
    background: #1071db;
}

/* Main Content */
main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

main h1 {
	color: #555;
	font-size: 56px;
    font-weight: 300;
}
main h2{
	color: #888;
	font-size: 16px;
	font-weight: 200;
	margin-left: 2em;
	margin-top: -12px;
	margin-bottom: 20px;
}
main p{
	margin: 10px 0 0 0px;
}
main li {
	margin-bottom: 16px;
}
main .list-links{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	background-color: #f7ceca;
	border: 2px solid #e13b2d;
	padding: 2px 6px 2px 6px;
}
main .list-links:hover{
	background-color: #d7aeaa;
}
